services:
  app:
    build: .
    container_name: livro-app-container
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # Ajuda o hot-reload no Linux/Docker